body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.half-width {
    width: 50%;
    padding-left: 2%;

}

section {
    display: flex;
    margin-bottom: 150px;
}

.half-width img {
    width: 100%;
}

.orange-color {
    color: orange;
}

.link-button {
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;

    text-decoration: none;
    font-weight: 700;
    border-radius: 100px;
    color: white;
}